#root {
  font-family: 'Geist', sans-serif;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.modal-content {
  background: #e4e4e4;
  padding: 24px;
  border-radius: 8px;
  width: 460px;
}
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.modal-content input {
  padding: 8px;
  font-size: 14px;
}


.submit-button {
  margin-top: 10px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}


button {
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  color:#fff;
  background-color: #0d6efd;
}

